.config/GIMP/
.config/JOSM/
.config/Mattermost/
.config/Nextcloud/
.config/QtProject.conf
.config/Signal/
.config/autostart/
.config/eddie/
.config/onlyoffice/
.config/pavucontrol.ini
.config/qBittorrent/
.config/whoozle.github.io/
