* {
  border: none;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 600;
  font-size: 14px;
  opacity: 1.0;
  border-radius: 30px;
  padding: 0;
  margin-bottom:-3px;
  margin-top:-3px;
  /* margin-left:-3px; */
  /* margin-right:-3px; */

}
#window {
    background: @theme_bg_color;
    opacity : 0.99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin: 10px;
    margin-top: -30px;
    padding: 5px;
    /* border: 1px solid #4C566A; */
}

tooltip {
  background: #1e1e2e;
  border-radius: 30px;
  opacity: 1.0;
}

#battery,
#mpris,
#pulseaudio,
#network,
#bluetooth,
#custom-spotify,
#cpu,
#memory,
#temperature, 
#workspaces,
#clock,
#custom-arch
{
  margin-top: 12px;
  margin-bottom: 12px;
  color: #1f1d2e;
}


#custom-arch, #clock{
  background: #31748f;
}
#custom-arch {

  border-radius : 30px 0px 0px 30px;
  padding : 5px;
  margin-right : 0px;
}
#clock {
  border-radius: 0px 30px 30px 0px;

}


#cpu,#memory,#temperature {
  background: #907aa9;
  margin-bottom: 12px;
  margin-top: 12;
}

#cpu {
  border-radius: 30px 0px 0px 30px;
}
#memory {
  border-radius:0px;
}

#temperature {
  border-radius: 0px 30px 30px 0px;
}

#workspaces {
  background : @theme_base_color;
}



#workspaces button.persistent:nth-child(1) {
  color: #8839ef;
}

#workspaces button.persistent:nth-child(2) {
  color: #d20f39;
}

#workspaces button.persistent:nth-child(3) {
  color: #286983;
}

#workspaces button.persistent:nth-child(4) {
  color: #fe640b;
}

#workspaces button.persistent:nth-child(5) {
  color: #7287fd;
}

#workspaces button.persistent:nth-child(6) {
  color: #179299;
}

#workspaces button.persistent.empty {
  color : #908caa;
}
#workspaces button.active.persistent {
  color : #ea9d34;
}


#battery.power {
  background : @theme_base_color;
  border-radius : 0px 30px 30px 0px;
  color : #f6c177;
  margin-top : 12px;
  margin-bottom : 12px;
}


#backlight {
  border-radius: 30px 0px 0px 30px;
  background : @theme_base_color;
  color : #DB9423; 
  opacity: 1.0;
  margin-top : 12px;
  margin-bottom : 12px;
}

#network, #pulseaudio {
  background: #eb6f92;
}
#network {
  border-radius: 30px 0px 0px 30px;
  padding: 5;
}


#pulseaudio {
  border-radius: 0px 0px 0px 0px;
}

#pulseaudio.microphone {
  border-radius: 0px 30px 30px 0px;
}



#bluetooth {
  color: #89b4fa;
  border-radius: 7px;
  margin-right: 5px;
  opacity: 1.0;
}

#battery {
  color: #a6e3a1;
  border-radius: 0px 30px 30px 0px;
  margin-right: 5px;
  border-left: 0px;
  margin-top : 12px; 
  margin-bottom : 12px;
  margin-left: 0px;
  padding : 8px;
}

#custom-spotify {
  border-radius: 30px;
  margin-bottom : 12px;
  margin-top : 12px;
  padding : 5px;
  border-right: 0px;
  opacity: 1.0;
}

#mpris {
  border-radius: 30px;
  color:#26CE60 ;
  border-right: 0px;
  border-left : 0px;
  margin-top : 12px;
  margin-bottom : 12px;
  padding : 5px;
}

#mpd {
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
}

