* {
  border: none;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 600;
  font-size: 14px;
  border-radius : 20px;
/* border-radius: 30px; */
  padding: 0;
  margin-bottom:-3px;
  margin-top:-3px;
  /*  margin-left:-3px; */ 
  /* margin-right:-3px; */

}

window#waybar {
    /* margin: -3px; */
  margin-bottom: -3px;
  opacity: 0.75;
  /* background : #752037;  */
  /* background-color: transparent; */
  margin-top: -3px;
    /* border: 1px solid #4C566A; */
}

tooltip {
  background: #1e1e2e;
  opacity: 1.0;
}

#battery,
#mpris,
#pulseaudio,
#network,
#bluetooth,
#custom-spotify,
#backlight,
#cpu,
#memory,
#temperature, 
#wireplumber,
#workspaces,
#clock,
#custom-arch
{
  margin-top: 12px;
  margin-bottom: 12px;
  opacity: 1;
  color: #1f1d2e;
}


#custom-arch, #clock{
  background: #31748f;
}
#custom-arch {

  border-radius : 30px 0px 0px 30px;
  padding : 5px;
  margin-right : 0px;
}
#clock {
  border-radius: 0px 30px 30px 0px;

}


#cpu,#memory,#temperature {
  background: #907aa9;
  margin-bottom: 12px;
  margin-top: 12;
}

#cpu {
  border-radius: 30px 0px 0px 30px;
}
#memory {
  border-radius:0px;
}

#temperature {
  border-radius: 0px 30px 30px 0px;
}


#workspaces {
  background : #303446;

}

#workspaces button.persistent:nth-child(1) {
  color: #8839ef;
}

#workspaces button.persistent:nth-child(2) {
  color: #d20f39;
}

#workspaces button.persistent:nth-child(3) {
  color: #286983;
}

#workspaces button.persistent:nth-child(4) {
  color: #fe640b;
}

#workspaces button.persistent:nth-child(5) {
  color: #7287fd;
}

#workspaces button.persistent:nth-child(6) {
  color: #179299;
}

#workspaces button.persistent.empty {
  color : #908caa;
}
#workspaces button.active.persistent {
  color : #ea9d34;
}

#battery.power {
  border-radius : 0px 30px 30px 0px;
  color : #f6c177;
  margin-top : 12px;
  margin-bottom : 12px;
}

#battery, #backlight, #wireplumber {
  /* background : #DB9423; */
  background: #ef9f76;
}

#wireplumber {
  border-radius: 30px 0px 0px 30px;
}
#backlight {
  border-radius: 0px
}

#battery {
  border-radius : 0px 30px 30px 0px;
}


#network {
  background: #831A39;
  color : #faf4ed;
  border-radius: 30px ;
  padding: 5;
}


#pulseaudio {
  border-radius: 30px 0px 0px 30px;
}

#pulseaudio.microphone {
  border-radius: 0px 30px 30px 0px;
}

#mpris {
  background : #40a02b;
}

